{% extends "foundation/base.html" %}

{% import "foundation/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}

{% endblock %}



{% block off_canvas_main %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, provident. Voluptas blanditiis fugiat amet ipsam provident facere aspernatur, suscipit repudiandae iste reprehenderit vero, labore recusandae doloremque excepturi accusantium fugit. Voluptas odit quo labore commodi reprehenderit sequi, minus quia facilis, expedita maiores culpa id officiis laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

{% endblock %}

{% block off_canvas_left %}
<h3>menu izquierda</h3>
<ul>
	<li>item1</li>
	<li>item2</li>
	<li>item3</li>
	<li>item4</li>
	<li>item5</li>
</ul>
{% endblock off_canvas_left %}


{% block off_canvas_right %}

<h3>Menu derecha</h3>
<ul>
	<li>item1</li>
	<li>item2</li>
	<li>item3</li>
	<li>item4</li>
	<li>item5</li>
</ul>
{% endblock off_canvas_right %}


